<section id="contact" >
<div class="contact-container">
    <h1>Contact Us</h1>
    <div class="contact-details">
      <div class="contact-item">
        <i class="fas fa-user"></i>
        <span>Name: Sadik</span>
      </div>
      <div class="contact-item">
        <i class="fas fa-phone"></i>
        <span>Contact Number: 095977 89041</span>
      </div>
      <div class="contact-item">
        <i class="fas fa-map-marker-alt"></i>
        <span>Address: 79/48, Mugalpura St, Tiruvennanallur, Tiruvannamalai, Tamil Nadu 606601</span>
      </div>
    </div>
    <div class="map-container">
        <iframe
        src="https://www.google.com/maps/embed/v1/place?key=YOUR_GOOGLE_MAPS_API_KEY&q=79%2F48%2C+Mugalpura+St%2C+Tiruvennanallur%2C+Tiruvannamalai%2C+Tamil+Nadu+606601"
        allowfullscreen
        loading="lazy">
      </iframe>
      
    </div>
  </div>
</section>